body[class*="page_ept_post_types"] {

	#wpbody {
		display: inline-block;
		width: 100%;
		padding-top: 0;
		margin-top: 60px;
	}

	.wrap {
		flex: 1;

		.barn2-settings-inner {

			&.promo-page {

				p {
					width: 100%;
					max-width: 900px;
				}

				a.promo-link {
					display: block;
					width: fit-content;
					outline: none;
					box-shadow: none;
		
					img.promo-image {
						width: 100%;
						max-width: 649px;
					}
				}
		
			}

			.barn2-plugins-header {
				background: #fff;
				box-sizing: border-box;
				padding: 0 20px;
				position: fixed;
				width: calc(100% - 160px);
				top: 32px;
				z-index: 1001;
				margin-left: -20px;

				&.is-scrolled {
					box-shadow: 0 8px 8px 0 rgba(85, 93, 102, 0.3);
				}
			
				.barn2-plugins-header-wrapper {
					display: flex;
					align-items: center;
					min-height: 60px;
				}
				@media (max-width: 782px) {
					flex-flow: row wrap;
					top: 46px;
					width: 100%;
				}
				@media (min-width: 783px) and (max-width: 960px) {
					width: calc(100% - 36px);
				}
				.barn2-plugins-header-breadcrumbs-wrapper {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
				}
				h1.barn2-plugins-header-heading {
					display: flex !important;
					align-items: center;
					padding: 0 0 0 40px;
					padding: 0 0 0 var(--large-gap);
					flex: 1 auto;
					height: 60px;
					background: #fff;
					font-weight: 600;
					font-size: 16px;
					margin-right: 20PX;
				}
				h2.ept-page-breadcrumbs {
					flex: 1 auto;
					font-size: 1em;
					font-weight: normal;
				}
				@at-root .folded & {
					width: calc(100% - 36px);
					@media (max-width: 782px) {
						width: 100%;
					}
				}

				@at-root .is-wp-toolbar-disabled & {
					top: 0;
				}

				@at-root .wp-responsive-open & {
					margin-left: 2px;
				}
			}
		}
	}
}

body.toplevel_page_ept_post_types {

	.barn2-plugins-settings.wrap {
		
		ul.subsubsub li:not(:last-child)::after {
			content: unset;
		}

		h2.ept-page-breadcrumbs {
			font-size: 1.3em;
			font-weight: 600;
			display: inline-block;
			margin: 0;
			margin-right: 5px;
			padding: 9px 0;
		}

		.wp-list-table {
			margin: 1rem 0;

			button.page-title-action.ept-post-table-action {
				top: 0;
				display: inline-block;
				margin: 3px 0;
			}

			td.column-actions {
				vertical-align: middle;
			}
		}

		form.ept-list-item fieldset {
			margin-bottom: 1rem;

			> label, > span {
				display: block;
				margin: 1rem 0;

				span.label {
					width: 10em;
					display: inline-block;
					font-weight: bold;
					vertical-align: top;
				}

				span.input {
					input[type="text"] {
						width: 400px;
					}

					&.cb-container {
						display: inline-block;

						.checkbox-label {
							margin-bottom: 0.5em;
							display: block;
						}
					}
				}

				span.barn2-help-tip {
					width: 2em;
					margin-left: -2em;
					margin-right: -.25em;
				}
			}
		}

	}
}

.barn2-help-tip {
	color: #666;
	display: inline-block;
	font-size: 1.1em;
	font-style: normal;
	height: 16px;
	line-height: 16px;
	position: relative;
	vertical-align: middle;
	width: 16px;

	&::after {
		font-family: 'Dashicons';
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin: 0;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		content: "\f223";
		cursor: help;
	}
}


#tiptip_content {
	color: #fff;
	font-size: 0.8em;
	max-width: 150px;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: 0.618em 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

	code {
		padding: 1px;
		background: #888;
	}
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder {
	display: none;
	z-index: 8675309;
	position: absolute;
	top: 0;

	/*rtl:ignore*/
	left: 0;


	&.tip_top {
		padding-bottom: 5px;

		#tiptip_arrow_inner {
			margin-top: -7px;
			margin-left: -6px;
			border-top-color: #333;
		}
	}

	&.tip_bottom {
		padding-top: 5px;

		#tiptip_arrow_inner {
			margin-top: -5px;
			margin-left: -6px;
			border-bottom-color: #333;
		}
	}

	&.tip_right {
		padding-left: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -5px;
			border-right-color: #333;
		}
	}

	&.tip_left {
		padding-right: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -7px;
			border-left-color: #333;
		}
	}
}

.inline-edit-wrapper .barn2-help-tip {
    width: 2ch;
    margin-left: -2ch;
    margin-right: -.25em;

    + span.input-text-wrap {
        margin-left: 0;
        display: inline-block;
    }
}
